@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=VT323&display=swap');

/* font-family: "Share Tech Mono", monospace; */
/* font-family: "VT323", monospace; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Share Tech Mono", monospace;
  background-color: #62629D;
}

.hero {
  position: relative;
  width: 100vw;
  overflow: hidden;
  color: white;
}


.hero__bg {
  display: block;
  width: 100vw;
  height: auto;
}


.hero__nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  padding: 0 40px;
  z-index: 1;
}

.hero__content {
  position: absolute;
  left: 20%;
  right: 0;
  top: 40%;
  transform: translateY(-40%);
  padding-left: 80px;
  z-index: 1;
}

.hero__content h1 {
  max-width: 600px;
  text-align: left;
}

.bouton__nav {
  background-color: #B2BEB5;
  font-family: "VT323", monospace;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 2em;
}

.bouton__nav:hover {
  background-color: #138A8A;
}







