@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=VT323&display=swap');

/* font-family: "Share Tech Mono", monospace; */
/* font-family: "VT323", monospace; */

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header{
  padding: 30px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 150px
}

html {
  background-color:#62629D;
}

.bouton-nav{
  background-color: #B2BEB5;
  font-family: "VT323";
  padding: 15px, 20px;
}



